body {
    background: url('fff.jpg');
    background-color: rgba(204, 204, 204, 0.22);
    font-family: Arial;
        
}

.w {
    border-radius: 15px;
    margin-top: 15px;
    letter-spacing: 1px;
    height: 430px;
    margin: 40 300;
    background-color: rgba(204, 204, 204, 0.47);
    box-shadow: 0 2px 5px #000000;
    text-align: center;
}

.ff {
    text-shadow: 1px 2px #ccc;
    font-size: 50px;
    text-align: center;
    background-color: rgba(204, 204, 204, 0.33);
    border-radius: 30px;
    color: #000;
    margin: 0 auto;
    font-size: 45px;
     box-shadow: 0 5px 10px #000;
}

.d {
    font-size: 25px;
    color: #000000;
    margin: -430 auto;
    width: 400px;
    background-color: rgb(109, 48, 193);
    text-shadow: 0.3px 1px #ccc;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 5px 10px #6cff00;
    text-rendering: auto;
}

.dd {
    
    text-align: center;
    margin: 50 100px;
    border-radius: 10px;
}

.xxx {
    font-size: 50px;
    width: 250px;
    font-size: 23px;
    text-shadow: 1px 2px #414141;
    color: #000000;
    margin: -1000 auto;
    text-decoration: none;
}
.x {
    
    border-radius: 10px;
    box-shadow: 0 5px 10px #d80000;
    text-shadow: 1px 2px #ccc;
    text-align: center;
    height: 30px;
    margin: -400 auto;
    width: 200px;
    background-color: #1546ea;
}

.as {
    margin: 450 auto;
    border-radius: 10px;
    width: 400px;
    background-color: blueviolet;
    box-shadow: 0 5px 10px #27d60f;
}


.x:hover,
.x:focus {
     background-color: #2a5bff;
}


.aa {
    text-shadow: 1px 2px #ccc;
    font-size: 19px;
    text-shadow: 1px 2px #adadad;
    color: #000000;
    
}









































